
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div th:fragment="header">
    <p>Sheridan College
        PROG27545 MIDTERM
        Winter 2021</p>
</div>
<!-- YOUR_FULL_NAME to be replaced with your actual name  -->
<footer th:fragment="footer">Copyright &copy; NAVYA VOHRA</footer>

<span class="SheridanLogo">
    <img th:src="@{/images/sheridan.png}">
    </span>


</body>
</html>
